<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="exampleInputEmail1">Auto Updating Weight</label>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Ounces" data-ng-model="vm.weight">
        <span class="input-group-addon">oz</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="exampleInputEmail1">Set Weight With Button</label>
      <div class="input-group input-group-lg">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" data-ng-click="vm.getWeight()" data-ng-disabled="!vm.device"><i class="fa fa-balance-scale"></i></button>
        </span>
        <input type="text" class="form-control" placeholder="Ounces" data-ng-model="vm.weightButton">
        <span class="input-group-addon">oz</span>
      </div>
    </div>
  </div>
</div>
<div class="row" data-ng-if="!vm.device">
  <div class="col-md-12 has-error">
    <p data-ng-if="!vm.initializingScale"><i class="fa fa-exclamation-triangle"></i> It looks like you do not have a scale plugged in. Please plug one in, then <button class="btn btn-primary btn-xs" type="button" data-ng-click="vm.enableScale()">enable it</button>.</p>
    <p data-ng-if="vm.initializingScale"><i class="fa fa-circle-o-notch fa-spin"></i> Initializing scale...</p>
  </div>
</div>
